# Node
node_modules/
dist/
build/

# pnpm
pnpm-lock.yaml

# DFX / ICP
.dfx/
.ic-assets.json
canister_ids.json
.env

# Docker
.dockerenv

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Compiled binaries
*.wasm